@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Orbit", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #343a40;
  color: #ffffff;
  padding: 16px;
  text-align: center;
}

section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
